.pagination-container
  = `${helpers.numberFormat(total)}件数 | `
  if query.page > 1
    a(href=`/?${helpers.toQueryString(query, { page: +query.page - 1 })}`)| ←
  = `ページ ${query.page}/${pages}`
  if query.page < pages
    a(href=`/?${helpers.toQueryString(query, { page: +query.page + 1 })}`)| →
