extends layout

block variables
  - subtitle = 'システムの状態'

block content
  .row
    .col-md-3.col-sm-6.mb-2.report-item-container
      i.fa.fa-envelope-open.mb-4
      h3 最新のメッセージ
      p
        = helpers.formatDate(latestMessage.createdAt)
        |（#{helpers.formatDateAgo(latestMessage.createdAt)}）
    .col-md-3.col-sm-6.mb-2.report-item-container
      i.fa.fa-comments.mb-4
      h3 メッセージ総数
      p= totalCount
    .col-md-3.col-sm-6.mb-2.report-item-container
      i.fa.fa-users.mb-4
      h3 オンラインユーザー取得方法
      p
        |#{helpers.secToMin(activeUsers.withinSeconds)}分前オンラインだったユーザーを含む
        |(#{activeUsers.intervalSeconds}秒おきに更新)。
        |現在#{activeUsers.userCount}人がオンラインです。
    .col-md-3.col-sm-6.mb-2.report-item-container
      i.fa.fa-server.mb-4
      h3 環境
      p= helpers.translateEnvironment(environment)
      if herokuDeployData
        p
          = helpers.formatDate(herokuDeployData.releaseCreatedAt)
          |
          |リリース
          |
          = herokuDeployData.releaseVersion
          |
          |(#{helpers.formatCommit(herokuDeployData.slugCommit)})

  each chat in chats
    .chat-item
      div
        a(href=helpers.youtubeLink(chat.chatId), target='_blank')
          .mr-4.chat-item-image-container
            if chat.imageUrl != null
              img(src=chat.imageUrl alt='')
          span.align-middle
            = chat.title

          // TODO: Fix this layout.

          a(href=`?chatId=${chat.chatId}`, target='_blank')
            = helpers.numberFormat(chat.messageCount)
            |件数
