.mb-4.mt-4
  .mt-2.d-flex.flex-row.align-items-center.align-items-center
    if recentUsers.length > 0
      .d-inline-block.me-2.flex-grow-1
        i.fa.fa-user.me-2
        |最近参加しているユーザー（#{recentUsers.length}人）
      button.btn.btn-secondary.pull-right(type='button', data-bs-toggle='modal', data-bs-target='#userListModal')
        |もっと見る
        i.fa.fa-plus.ms-1
    else
      |現在このチャットに参加しているユーザー（#{recentUsers.length}人）

if recentUsers.length > 0
  .recent-users-list
    each user in recentUsers.slice(0, 10)
      .recent-users-user.mb-3(data-recent-message-count=user.count)
        a(href=`?${helpers.toQueryString({ author: user.author, chatId: query.chatId, exact: true })}`)
          img.user-icon.user-icon-before-text.me-2(src=user.icon, alt=user.author)
          = user.author

.modal.fade(id='userListModal', tabindex='-1', aria-labelledby='userListModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title(id='userListModalLabel')
          |ユーザー
        button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')

      .modal-body
        .recent-users-list
          each user in recentUsers
            .recent-users-user.mb-3(data-recent-message-count=user.count)
              a(href=`?${helpers.toQueryString({ author: user.author, chatId: query.chatId, exact: true })}`)
                img.user-icon.user-icon-before-text.me-2(src=user.icon, alt=user.author)
                = user.author
      .modal-footer
        button.btn.btn-secondary(type='button', data-bs-dismiss='modal')
          |閉じる
