extends layout.pug

block content
  form.mb-2(id='message-search-form', action='', method='GET', enable-daterangepicker=true)
    .row
      //-.col-md-6.input-field
        input.form-control(role='daterangepicker', placeholder='日付', data-limit-date-from=limitDateFrom)
        input(type='hidden', name='dateFrom', value=query.dateFrom)
        input(type='hidden', name='dateTo', value=query.dateTo)

      .col-md-6.input-field
        select.form-select(name='chatId')
          option(value = '')
            | すべての配信
          each chat in chats
            option(value = chat.chatId, selected=chat.chatId == query.chatId)= chat.title

      .clearfix
      .col-md-6.input-field
        input.form-control(type='text', name='author', placeholder='ユーザー名で絞り込み', value=query.author)

      .col-md-6.input-field
        input.form-control(type='text', name='text', placeholder='メッセージの内容で絞り込み', value=query.text)

      .input-field.d-grid.gap-2.d-md-block
        button.btn.btn-primary(type='submit')
          i.fa.fa-search


  if recentChats.length > 0
    h2| おすすめ
    each chat in recentChats
      p
        a(href=`?${helpers.toQueryString({ chatId: chat.chatId })}`)
          = chat.title

  if recentUsers.length > 0
    .mb-2
      include connected-users-partial.pug

  include stream-ended-notice-partial.pug

  if pages > 0
    .row
      include pagination-partial.pug

    each msg in messages
      .row.message-container(class=(msg.deleted ? 'message-deleted' : '')
        data-timestamp=helpers.formatDateDetail(msg.timestamp), data-created-at=helpers.formatDateDetail(msg.createdAt))
        .col-md-12
          .message-detail-info.float-end
            div(title=msg.ytId)
              = helpers.formatDate(msg.createdAt)
            a(href=helpers.youtubeLink(msg.chatId), data-bs-toggle='tooltip', data-bs-placement='left', title=chats.title)
              = msg.chat.chatId
          .mb-2
            .d-inline
              img.user-icon.user-icon-before-text.me-3(src=msg.icon, alt=msg.author)
            = msg.author
          .clearfix
          .messages-text
            each part in helpers.textSplitEmojis(msg.text)
              if helpers.isEmoji(part)
                - const iconName = helpers.removeColons(part)

                if helpers.isYoutubeIcon(iconName)
                  img.youtube-icon(src=`images/youtube-icons/${iconName}.png`, alt=iconName)
                else
                  = helpers.toEmoji(iconName) || `:${iconName}:`
              else
                = part
          if msg.deleted
            .clearfix.mt-2
            small.float-end| 撤回済み
    .row
      include pagination-partial.pug
  else
    .alert.alert-warning| 結果がありませんでした。
